<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Address Book{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/addressbook.jpg" width="70%">
        <h1>Online Address Book<br> <small>keep track of your contacts!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}