<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Address Book{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/addresses/new">Add a New Address</a></li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Contact Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if contacts}}
                {{#each contacts}}
                    <li><a href="/contacts/{{id}}">{{name}}</a></li>
                {{/each}}
                <li><a href="/contacts/new">Add a Contact</a></li>

            {{else}}
                <li><a href="/contacts/new">Add a Contact</a></li>
            {{/if}}
        </ul>
    </li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/addressbook.jpg" width="70%">
        <h1>Online Address Book<br> <small>keep track of your contacts!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/tasks/delete">DELETE ALL ADDRESSES</a></p>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}