{{#partial "content"}}
    <h1>Contacts:</h1>
    {{#if contacts}}
        {{#each contacts}}
            <h3>{{name}}</h3>
            <p><a href="contacts/{{this.id}}/update">update info</a> </p>
            <p><a href="contacts/{{this.id}}/delete">delete entry</a></p>
        {{/each}}
    {{else}}
        <p>No Contacts</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}